[submodule "submodules/DiligentCore"]
	path = submodules/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "submodules/DiligentCorePro"]
	path = submodules/DiligentCorePro
	url = https://github.com/znly/DiligentCorePro
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
