[submodule "submodules/DiligentCore"]
	path = submodules/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "submodules/DiligentTools"]
	path = submodules/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
[submodule "submodules/DiligentCorePro"]
	path = submodules/DiligentCorePro
	url = https://github.com/znly/DiligentCorePro
